{% extends 'base.html' %}
{% block content %}
    <a class="btn btn-primary" href="{% url 'etapa1:adaugare' %}">Adauga materii</a>
    <table class="table">
    <thead>
    <tr>
        <th>Index</th>
        <th>Nume materie</th>
        <th>Descriere</th>
        <th>State</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
        {% for item in materie_list %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ item.nume }}</td>
                <td>{{ item.descriere }}</td>
                <td>{{ item.active }}</td>
                <td></td>
            </tr>
        {% endfor %}
    </tbody>

    </table>
{% endblock %}